<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka Producer Dashboard</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/app.js}"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCKtnoXNaTxHyyZ4lviflvLIjhE5RwRR8&libraries=visualization">
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Kafka Producer Dashboard</h1>
        </div>

        <div class="row" style="margin-top: 1rem">
            <form action="#" th:object="${sendEventsForm}" method="post">
                <label for="numberOfMessages">Number of messages</label>
                <input type="number" th:field="*{numberOfMessages}" id="numberOfMessages">
                <label style="margin-left: 2rem" class="ml-3" for="interval">Interval</label>
                <input type="number" th:field="*{interval}" id="interval">
                <input style="margin-left: 2rem" type="submit" value="start">
            </form>
        </div>

        <div class="row" style="margin-top: 1rem">
            <h2>Kafka messages</h2>
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li th:each="table : ${tables}" class="nav-item">
                        <a class="nav-link" th:id="|${table.topic}-tab|" data-toggle="tab"
                           th:href="'#' + ${table.topic}" role="tab" th:aria-controls="${table.topic}"
                           aria-selected="true" th:text="${#strings.capitalize(table.topic)}"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="heatmap-tab" data-toggle="tab" href="#heatmap" role="tab"
                           aria-controls="heatmap" aria-selected="false">Heatmap</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <th:block th:each="table : ${tables}">
                        <div class="tab-pane fade" th:id="${table.topic}" role="tabpanel"
                             th:aria-labelledby="|${table.topic}-tab|"
                             th:include="table :: topicTable (${table.topic},${table.columns})"></div>
                    </th:block>
                    <div class="tab-pane fade active" id="heatmap" role="tabpanel" aria-labelledby="heatmap-tab">
                        <div id="gm-heatmap" style="height: 800px; width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>